<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">

  <targets async="true">
    <target name="logfile"     xsi:type="File"    fileName="GeneralLog.txt"  layout="${longdate}|${level:uppercase=true}|${logger}|${message}"/>
    <target name="warnlogfile" xsi:type="File"    fileName="WarnLog.txt"     layout="${longdate}|${level:uppercase=true}|${logger}|${threadid}|${message}|${exception:format=ToString}"/>
    <target name="logconsole"  xsi:type="Console"                            layout="${longdate}|${level:uppercase=true}|${logger}|${threadid}|${message}|${exception:format=ToString}"/>
    <target name="debug"       xsi:type="Debug"                              layout="${longdate}|${level:uppercase=true}|${logger}|${message}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile" />
    <logger name="*" minlevel="Debug" writeTo="debugger" />
    <logger name="*" minlevel="Warn" writeTo="warnlogfile" />
    <logger name="*" minlevel="Error" writeTo="warnlogfile" />
    <logger name="*" minlevel="Fatal" writeTo="warnlogfile" />
  </rules>
</nlog>